body {
  margin: 0;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

body {
  font-family: roboto;
}

h1 {
  font-family: roboto-bold;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-family: roboto-bold;
  font-size: 1.8em;
}

.fbutton {
  font-family: roboto-bold;
  font-size: 1.2em;
}

@media screen and (min-width: 1200px) {
  .fbutton {
    font-size: 1em;
  }
}

.nouveaute {
  font-family: roboto-bold;
  font-size: 1em;
}

figcaption {
  font-size: 1.3em;
  font-family: roboto-bold;
  color: black;
}

@media screen and (min-width: 1200px) {
  figcaption {
    font-size: 1em;
  }
}

figure p {
  font-size: 1.4em;
}

@media screen and (min-width: 1200px) {
  figure p {
    font-size: 1em;
  }
}

#place input {
  font-size: 1.3em;
  font-family: roboto;
}

.footer {
  font-size: 1.3em;
}

@media screen and (min-width: 1200px) {
  .footer {
    font-size: 1em;
  }
}

.footer__title {
  font-family: shrikhand;
}

.p-bold {
  font-family: roboto-bold;
}

.exploration_button {
  width: 210px;
  color: white;
  font-size: 1.2em;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 10px -1px #969494;
          box-shadow: 3px 3px 10px -1px #969494;
  padding: 1em 1.4em 1em 1.4em;
  margin-bottom: 1.5em;
}

.exploration_button:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-box-shadow: 3px 3px 10px -1px #636161;
          box-shadow: 3px 3px 10px -1px #636161;
  cursor: pointer;
}

.fbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px -1px #c7c5c5;
          box-shadow: 3px 3px 10px -1px #c7c5c5;
  padding: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  position: relative;
}

@media screen and (min-width: 480px) {
  .fbutton {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 300px;
    margin-right: 2.5em;
  }
}

.fbutton:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  background-color: #fbfbfb;
  -webkit-box-shadow: 3px 3px 10px -1px #aeabab;
          box-shadow: 3px 3px 10px -1px #aeabab;
  cursor: pointer;
}

.fbutton:hover i {
  color: #9356dc;
}

.fbutton i {
  color: grey;
}

.etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #9356dc;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: -0.5em;
}

@media screen and (min-width: 1200px) {
  .etape {
    width: 2.5em;
    height: 2.5em;
    bottom: 0.7em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid white;
  -webkit-box-shadow: 0 7px 7px -9px grey;
          box-shadow: 0 7px 7px -9px grey;
  padding-top: 2em;
  padding-bottom: 1em;
  position: relative;
}

@media screen and (min-width: 1200px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 2.5em;
  }
}

#place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2em;
  background-color: #eaeaea;
}

@media screen and (min-width: 1200px) {
  #place {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 2.5em 1em 2.5em;
    padding: 0.5em;
    border: 1px solid #a09d9d;
    width: 250px;
    height: auto;
    border-radius: 50px;
  }
}

#place input {
  border: 0px;
  margin-left: 1em;
  width: 8em;
  background-color: #eaeaea;
}

@media (max-width: 1200px) {
  #presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f6f6f6;
    padding: 2.4em;
  }
  #presentation h1 {
    font-size: 1.9em;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;
  }
  #presentation p {
    color: #7d7d7d;
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5em;
  }
}

@media (min-width: 1200px) {
  #presentation {
    margin: 1em 2.5em 1em 2.5em;
  }
  #presentation h1 {
    margin: 0;
  }
}

#fonctionnement {
  padding: 1.5em;
}

@media screen and (min-width: 480px) {
  #fonctionnement {
    margin: 1em 2.5em 1em 2.5em;
    padding: 0;
  }
}

.restaurants {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  padding: 1.5em;
}

@media screen and (min-width: 480px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 20px;
    margin: 2.5em;
    padding: 2.5em;
  }
}

.restaurants a {
  text-decoration: none;
}

.restaurants__card {
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  background: white;
  -webkit-box-shadow: 3px 3px 10px -1px #969494;
          box-shadow: 3px 3px 10px -1px #969494;
  margin-bottom: 1.5em;
  cursor: pointer;
  position: relative;
}

.restaurants__card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media screen and (min-width: 1200px) {
  .restaurants__card {
    width: 270px;
    height: 220px;
    margin: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .restaurants__card {
    margin-bottom: 2em;
  }
}

.restaurants__card__description {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__card .nouveaute {
  width: 6em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #299077;
  background-color: #99e2d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1em;
  right: 1em;
}

.restaurants__card figure {
  margin: 0;
}

.restaurants__card figure img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .restaurants__card figure img {
    height: 150px;
  }
}

.restaurants__card figure p {
  color: #606060;
  margin: 0.2em 0 0 0;
}

.heart_container {
  position: relative;
  width: 3em;
  height: 3em;
}

.empty_heart {
  position: absolute;
  color: grey;
}

.full_heart {
  position: absolute;
  color: #9356dc;
  opacity: 0;
}

.full_heart:hover {
  -webkit-animation: remplissage 500ms ease-out;
          animation: remplissage 500ms ease-out;
}

@-webkit-keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .restaurants__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  background: #353535;
  padding: 1.5em;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 1em 1.5em 1em 2.5em;
  }
}

.footer__title {
  margin-bottom: 1em;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 1.3em;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer i {
  margin-right: 0.6em;
}

.footer p {
  margin: 0 0 0.5em 0;
}

.footer a {
  text-decoration: none;
  color: white;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */