body {
  margin: 0;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

body {
  font-family: roboto;
}

#presentation h1 {
  font-family: roboto-bold;
}

@media screen and (min-width: 1200px) {
  #presentation h1 {
    font-size: 2em;
  }
}

#presentation h2 {
  font-family: roboto-bold;
  font-size: 1.8em;
}

.fbutton {
  font-family: roboto-bold;
  font-size: 1.2em;
}

@media screen and (min-width: 1200px) {
  .fbutton {
    font-size: 1em;
  }
}

.nouveaute {
  font-family: roboto-bold;
  font-size: 1em;
}

figcaption {
  font-size: 1.3em;
  font-family: roboto-bold;
  color: black;
}

@media screen and (min-width: 1200px) {
  figcaption {
    font-size: 1em;
  }
}

figure p {
  font-size: 1.4em;
}

@media screen and (min-width: 1200px) {
  figure p {
    font-size: 1em;
  }
}

#place input {
  font-size: 1.3em;
  font-family: roboto;
}

.footer {
  font-size: 1.3em;
}

@media screen and (min-width: 1200px) {
  .footer {
    font-size: 1em;
  }
}

.footer__title {
  font-family: shrikhand;
}

.p-bold {
  font-family: roboto-bold;
}

#shop_title {
  font-family: shrikhand;
  font-size: 2.2em;
  font-weight: normal;
}

.plate_type {
  font-size: 0.9em;
}

.menu__restau__plat h3 {
  font-size: 1.4em;
}

.menu__restau__plat h4 {
  font-size: 1.1em;
}

.menu__restau__plat p {
  font-size: 1.1em;
  font-weight: bold;
}

.exploration_button {
  width: 210px;
  color: white;
  font-size: 1.2em;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 10px -1px #969494;
          box-shadow: 3px 3px 10px -1px #969494;
  padding: 1em 1.4em 1em 1.4em;
  margin-bottom: 1.5em;
}

.exploration_button:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-box-shadow: 3px 3px 10px -1px #636161;
          box-shadow: 3px 3px 10px -1px #636161;
  cursor: pointer;
}

.fbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f6f6f6;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px -1px #d8d5d5;
          box-shadow: 3px 3px 10px -1px #d8d5d5;
  padding: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  position: relative;
}

@media screen and (min-width: 480px) {
  .fbutton {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 300px;
    margin-right: 2.5em;
    margin-left: 2em;
  }
}

.fbutton:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  background-color: #fbfbfb;
  -webkit-box-shadow: 3px 3px 10px -1px #bfbbbb;
          box-shadow: 3px 3px 10px -1px #bfbbbb;
  cursor: pointer;
}

.fbutton:hover i {
  color: #9356dc;
}

.fbutton i {
  color: grey;
}

.etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #9356dc;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: -0.5em;
}

@media screen and (min-width: 1200px) {
  .etape {
    width: 2.5em;
    height: 2.5em;
    bottom: 0.7em;
  }
}

.order_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 10px -1px #d8d5d5;
          box-shadow: 3px 3px 10px -1px #d8d5d5;
  padding: 1em 1.4em 1em 1.4em;
  margin-top: 1.5em;
}

.order_button:hover {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-box-shadow: 3px 3px 10px -1px #a7a0a0;
          box-shadow: 3px 3px 10px -1px #a7a0a0;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid white;
  -webkit-box-shadow: 0 7px 7px -9px grey;
          box-shadow: 0 7px 7px -9px grey;
  padding-top: 2em;
  padding-bottom: 1em;
  position: relative;
}

@media screen and (min-width: 1200px) {
  header {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-left: 2.5em;
  }
}

#place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.2em;
  background-color: #eaeaea;
}

@media screen and (min-width: 1200px) {
  #place {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 2.5em 1em 2.5em;
    padding: 0.5em;
    border: 1px solid #a09d9d;
    width: 250px;
    height: auto;
    border-radius: 50px;
  }
}

#place input {
  border: 0px;
  margin-left: 1em;
  width: 8em;
  background-color: #eaeaea;
}

header {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header i {
  color: black;
  position: absolute;
  left: 0;
  margin-left: 0.8em;
}

#presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 2.4em;
}

#presentation h1 {
  font-size: 1.9em;
  text-align: center;
  margin: 0 0.5em 0.5em 0.5em;
}

#presentation p {
  color: #7d7d7d;
  font-size: 1.4em;
  text-align: center;
  margin: 0;
  margin-bottom: 1.5em;
}

#fonctionnement {
  padding: 1.5em;
}

@media screen and (min-width: 480px) {
  #fonctionnement {
    margin: 1em 2.5em 1em 2.5em;
    padding: 0;
  }
}

.restaurants {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f6;
  padding: 1.5em;
}

@media screen and (min-width: 480px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 20px;
    margin: 2.5em;
    padding: 2.5em;
  }
}

.restaurants a {
  text-decoration: none;
}

.restaurants__card {
  border-radius: 20px;
  overflow: hidden;
  height: 300px;
  background: white;
  -webkit-box-shadow: 3px 3px 10px -1px #d8d5d5;
          box-shadow: 3px 3px 10px -1px #d8d5d5;
  margin-bottom: 1.5em;
  cursor: pointer;
  position: relative;
}

.restaurants__card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media screen and (min-width: 1200px) {
  .restaurants__card {
    width: 270px;
    height: 220px;
    margin: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .restaurants__card {
    margin-bottom: 2em;
  }
}

.restaurants__card__description {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__card .nouveaute {
  width: 6em;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #299077;
  background-color: #99e2d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 1em;
  right: 1em;
}

.restaurants__card figure {
  margin: 0;
}

.restaurants__card figure img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .restaurants__card figure img {
    height: 150px;
  }
}

.restaurants__card figure p {
  color: #606060;
  margin: 0.2em 0 0 0;
}

.heart_container {
  position: relative;
  width: 3em;
  height: 3em;
}

.empty_heart {
  position: absolute;
  color: grey;
}

.full_heart {
  position: absolute;
  color: #9356dc;
  opacity: 0;
}

.full_heart:hover {
  -webkit-animation: remplissage 500ms ease-out;
          animation: remplissage 500ms ease-out;
}

@-webkit-keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .restaurants__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .fontionnement__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 2.5em;
  }
}

.restau_img img {
  width: 100vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

.menu__restau__plat:nth-child(1) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.menu__restau__plat:nth-child(2) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.menu__restau__plat:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu__restau__plat:nth-child(4) {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.menu__restau__plat:nth-child(5) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu__restau__plat:nth-child(6) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.menu__restau__plat:nth-child(7) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.menu__restau__plat:nth-child(8) {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.menu__restau__plat:nth-child(9) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.menu__restau__plat:nth-child(10) {
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

.menu__restau__plat:nth-child(11) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.menu__restau__plat:nth-child(12) {
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}

.menu__restau__plat:nth-child(13) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.menu__restau {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding-bottom: 5em;
}

.menu__restau .container_title_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5em;
  padding-left: 0.3em;
}

.menu__restau .container_title_heart .heart_container2 {
  width: 2em;
  min-width: 2em;
  height: 2em;
  min-height: 2em;
}

.menu__restau__plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 1px 1px 15px #d8d5d5;
          box-shadow: 1px 1px 15px #d8d5d5;
  margin: 1.5em;
  opacity: 0;
  -webkit-animation: fade-in 1350ms forwards;
          animation: fade-in 1350ms forwards;
  cursor: pointer;
}

.menu__restau__plat .content_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  margin: 1em;
}

.menu__restau__plat .animation_container {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  position: relative;
}

.menu__restau__plat:hover .animation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #99e2d0;
  -webkit-animation-name: right_to_left;
          animation-name: right_to_left;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
}

.menu__restau__plat:hover i {
  position: absolute;
  left: 1.5em;
  color: white;
  -webkit-animation-name: appear_and_rotate;
          animation-name: appear_and_rotate;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms;
}

@-webkit-keyframes right_to_left {
  from {
    -webkit-box-flex: 0;
            flex: 0;
  }
  to {
    -webkit-box-flex: 3;
            flex: 3;
  }
}

@keyframes right_to_left {
  from {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  to {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
}

@-webkit-keyframes appear_and_rotate {
  0% {
    -webkit-transform: rotate(1);
            transform: rotate(1);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes appear_and_rotate {
  0% {
    -webkit-transform: rotate(1);
            transform: rotate(1);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

.menu__restau__plat h4 {
  color: #404040;
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 85%;
}

.menu__restau__plat h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 85%;
}

.menu__restau__plat h4,
.menu__restau__plat p {
  margin: 0.2em 0 0 0;
}

.menu__restau .plate_type {
  margin-left: 1.5em;
  color: #5c5c5c;
}

.menu__restau .plate_type h2 {
  margin: 0 0 0.4em 0;
  font-weight: normal;
}

.menu__restau .plate_type .up-border {
  border-bottom: 5px solid #99e2d0;
  width: 3.8em;
}

.menu__restau .container_secondline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  background: #353535;
  padding: 1.5em;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 1em 1.5em 1em 2.5em;
  }
}

.footer__title {
  margin-bottom: 1em;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 1.3em;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer i {
  margin-right: 0.6em;
}

.footer p {
  margin: 0 0 0.5em 0;
}

.footer a {
  text-decoration: none;
  color: white;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */