.exploration_button {
  width: 210px;
  color: white;
  font-size: 1.2em;
  background: linear-gradient(to bottom right, $secondary, $primary);
  border-radius: 50px;
  box-shadow: 3px 3px 10px -1px rgb(150, 148, 148);
  padding: 1em 1.4em 1em 1.4em;
  margin-bottom: 1.5em;
  &:hover {
    animation: 400ms forwards;
    box-shadow: 3px 3px 10px -1px darken(rgb(150, 148, 148), 20%);
    cursor: pointer;
    opacity: 0.8;
  }
}

.fbutton {
  display: flex;
  justify-content: space-around;
  background-color: $lightgrey;
  border-radius: 25px;
  box-shadow: 3px 3px 10px -1px $shadowcolor;
  padding: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
  position: relative;
  @include tablet-only {
    width: 400px;
    margin: 0 0 1.5em 0;
  }
  @include desktop-only {
    display: inline-flex;
    width: 300px;
    margin-right: 2.5em;
    margin-left: 2em;
  }
  &:hover {
    transition-duration: 500ms;
    background-color: lighten($primary, 35%);
    box-shadow: 3px 3px 10px -1px darken($shadowcolor, 10%);
    cursor: pointer;
    i {
      color: $primary;
    }
  }

  i {
    color: grey;
  }
}

.etape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: $primary;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  left: -0.5em;
  @include desktop-only {
    width: 2.5em;
    height: 2.5em;
    bottom: 0.7em;
  }
}

// PAGE RESTAU

.order_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  background: linear-gradient(to bottom right, $secondary, $primary);
  border-radius: 50px;
  box-shadow: 3px 3px 10px -1px $shadowcolor;
  padding: 1em 1.4em 1em 1.4em;
  margin-top: 1.5em;
  &:hover {
    animation: 400ms forwards;
    box-shadow: 3px 3px 10px -1px darken($shadowcolor, 20%);
    cursor: pointer;
    opacity: 0.8;
  }
}
