#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightgrey;
  padding: 2.4em;

  h1 {
    font-size: 1.9em;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;
  }

  p {
    color: rgba(125, 125, 125, 255);
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5em;
  }
}

// @media (min-width: 1200px) {
//   #presentation {
//     margin: 1em 2.5em 1em 2.5em;
//     h1 {
//       margin: 0;
//     }
//   }
// }

#fonctionnement {
  padding: 1.5em;

  @include deskandtab {
    margin: 1em 2.5em 1em 2.5em;
    padding: 0;
  }
}

.restaurants {
  width: auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  background: $lightgrey;
  padding: 1.5em;

  @include deskandtab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 2.5em;
    padding: 2.5em;
  }

  a {
    text-decoration: none;
  }

  &__card {
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
    background: white;
    box-shadow: 3px 3px 10px -1px $shadowcolor;
    margin-bottom: 1.5em;
    cursor: pointer;
    position: relative;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      transition-duration: 500ms;
    }

    @include desktop-only {
      width: 270px;
      height: 220px;
      margin: 0;
    }

    @include tablet-only {
      margin-bottom: 2em;
    }

    &__description {
      padding: 1em;
      display: flex;
      justify-content: space-between;
    }

    .nouveaute {
      width: 6em;
      height: 2em;
      display: flex;
      position: absolute;
      color: darken($tertiary, 38%);
      background-color: $tertiary;
      justify-content: center;
      align-items: center;
      top: 1em;
      right: 1em;
    }

    figure {
      margin: 0;

      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        @include desktop-only {
          height: 150px;
        }
      }

      p {
        color: rgba(96, 96, 96, 255);
        margin: 0.2em 0 0 0;
      }
    }
  }
}

.heart_container {
  position: relative;
  width: 3em;
  height: 3em;
}

.empty_heart {
  position: absolute;
  color: grey;
}

.full_heart {
  position: absolute;
  color: $primary;
  opacity: 0;
  &:hover {
    animation: remplissage 500ms ease-out;
  }
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .restaurants__title {
    display: flex;
    width: 100%;
  }

  .fontionnement__title {
    display: flex;
    width: 100%;
    margin-left: 2.5em;
  }
}

// PAGES RESTAURANTS

.restau_img {
  // z-index: 1;
  position: absolute;
  img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-10%);
  }
}

.menu__restau__plat:nth-child(1) {
  animation-delay: 0ms;
}
.menu__restau__plat:nth-child(2) {
  animation-delay: 150ms;
}
.menu__restau__plat:nth-child(3) {
  animation-delay: 300ms;
}
.menu__restau__plat:nth-child(4) {
  animation-delay: 450ms;
}
.menu__restau__plat:nth-child(5) {
  animation-delay: 600ms;
}
.menu__restau__plat:nth-child(6) {
  animation-delay: 750ms;
}
.menu__restau__plat:nth-child(7) {
  animation-delay: 900ms;
}
.menu__restau__plat:nth-child(8) {
  animation-delay: 1050ms;
}
.menu__restau__plat:nth-child(9) {
  animation-delay: 1200ms;
}
.menu__restau__plat:nth-child(10) {
  animation-delay: 1350ms;
}
.menu__restau__plat:nth-child(11) {
  animation-delay: 1500ms;
}
.menu__restau__plat:nth-child(12) {
  animation-delay: 1650ms;
}
.menu__restau__plat:nth-child(13) {
  animation-delay: 1800ms;
}

@keyframes selectanimation {
  0% {
    // margin-left: 100%;
    width: 0%;
  }
  100% {
    // margin-left: 0%;
    width: 100%;
  }
}

.menu__restau {
  background-color: $lightgrey;
  border-radius: 50px;
  padding-bottom: 5em;
  margin-top: 17em;
  // z-index: 2;
  position: relative;

  .container_title_heart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 1.5em;
    padding-left: 0.3em;
    @include desktop-only {
      justify-content: center;
    }

    .heart_container2 {
      width: 2em;
      min-width: 2em;
      height: 2em;
      min-height: 2em;
    }
  }

  &__plat {
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px $shadowcolor;
    margin: 1.5em;
    padding: 1em;
    opacity: 0;
    animation: fade-in 1350ms forwards;
    @include desktop-only {
      margin-right: 28em;
      margin-left: 28em;
    }
    // .select_animation {
    //   display: none;
    // }
    &:hover {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      .select_animation {
        display: flex;
        // width: 5em;
        background-color: $tertiary;
        // overflow: hidden;
        // transform-origin: 50% 0%;
        // transform: scaleX(-1);
        transition: selectanimation 2s linear;
        i {
          color: white;
          transform: rotate(-2turn);
          transition: transform 2s ease-in-out;
          transition-property: left;
        }
      }
    }

    h4 {
      color: rgba(64, 64, 64, 255);
      font-weight: normal;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 85%;
    }

    h3 {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 85%;
    }

    h4,
    p {
      margin: 0.2em 0 0 0;
    }
  }

  .plate_type {
    margin-left: 1.5em;
    color: rgba(92, 92, 92, 255);
    @include desktop-only {
      margin-left: 31em;
    }

    h2 {
      margin: 0 0 0.4em 0;
      font-weight: normal;
    }

    .up-border {
      border-bottom: 5px solid $tertiary;
      width: 3.8em;
    }
  }

  .container_secondline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
