#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightgrey;
  padding: 2.4em;

  h1 {
    font-size: 1.9em;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;
  }

  p {
    color: rgba(125, 125, 125, 255);
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    margin-bottom: 1.5em;
  }
}

#fonctionnement {
  padding: 1.5em;

  @include desktop-only {
    margin: 1em 2.5em 1em 2.5em;
    padding: 0;
  }

  @include tablet-only {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include tablet-only {
    .fonctionnement__title {
      display: flex;
      width: 400px;
      margin: 0 0 1.5em -4em;
    }
  }

  @include desktop-only {
    h2 {
      margin-bottom: 1.5em;
    }
  }
}

.restaurants {
  width: auto;
  display: flex;
  flex-direction: column;
  background: $lightgrey;
  padding: 1.5em;

  @include deskandtab {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5em;
  }
  @include tablet-only {
    flex-direction: column;
  }

  a {
    text-decoration: none;
  }

  &__card {
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
    background: white;
    box-shadow: 3px 3px 10px -1px $shadowcolor;
    margin-bottom: 1.5em;
    cursor: pointer;
    position: relative;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      transition-duration: 500ms;
    }

    @include desktop-only {
      width: 43vh;
      height: 225px;
      margin: 0 0.5em 0.5em 0;
    }

    @include tablet-only {
      margin-bottom: 2em;
    }

    &__description {
      padding: 1em;
      display: flex;
      justify-content: space-between;
    }

    .nouveaute {
      width: 6em;
      height: 2em;
      display: flex;
      position: absolute;
      color: darken($tertiary, 38%);
      background-color: $tertiary;
      justify-content: center;
      align-items: center;
      top: 1em;
      right: 1em;
      border-radius: 2px;
    }

    figure {
      margin: 0;

      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        @include desktop-only {
          height: 150px;
        }
      }

      p {
        color: rgba(96, 96, 96, 255);
        margin: 0.2em 0 0 0;
      }
    }
  }
}

.heart_container {
  position: relative;
  width: 3em;
  height: 3em;
}

.empty_heart {
  position: absolute;
  color: grey;
}

.full_heart {
  position: absolute;
  color: $primary;
  opacity: 0;
  &:hover {
    animation: remplissage 500ms ease-out;
  }
}

@keyframes remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .restaurants__title {
    display: flex;
    width: 100%;
  }

  .fontionnement__title {
    display: flex;
    width: 100%;
    margin-left: 2.5em;
  }
}

// PAGES RESTAURANTS

.restau_img {
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(-10%);
  }
}

.menu__restau__plat:nth-child(1) {
  animation-delay: 0ms;
}
.menu__restau__plat:nth-child(2) {
  animation-delay: 150ms;
}
.menu__restau__plat:nth-child(3) {
  animation-delay: 300ms;
}
.menu__restau__plat:nth-child(4) {
  animation-delay: 450ms;
}
.menu__restau__plat:nth-child(5) {
  animation-delay: 600ms;
}
.menu__restau__plat:nth-child(6) {
  animation-delay: 750ms;
}
.menu__restau__plat:nth-child(7) {
  animation-delay: 900ms;
}
.menu__restau__plat:nth-child(8) {
  animation-delay: 1050ms;
}
.menu__restau__plat:nth-child(9) {
  animation-delay: 1200ms;
}
.menu__restau__plat:nth-child(10) {
  animation-delay: 1350ms;
}
.menu__restau__plat:nth-child(11) {
  animation-delay: 1500ms;
}
.menu__restau__plat:nth-child(12) {
  animation-delay: 1650ms;
}
.menu__restau__plat:nth-child(13) {
  animation-delay: 1800ms;
}

.menu__restau__plat:nth-child(14) {
  animation-delay: 1950ms;
}

.menu__restau {
  background-color: $lightgrey;
  border-radius: 40px;
  padding-bottom: 5em;
  position: relative;
  margin-top: -70px;

  @include deskandtab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -30px;
  }

  .container_title_heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
    padding-left: 1.5em;

    @include desktop-only {
      width: 500px;
    }

    @include tablet-only {
      width: 450px;
    }

    .heart_container2 {
      width: 2em;
      min-width: 2em;
      height: 2em;
      min-height: 2em;
    }
  }

  &__plat {
    display: flex;

    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 1px 1px 15px $shadowcolor;
    margin: 1em 1em 0 1em;
    opacity: 0;
    animation: fade-in 1350ms forwards;
    cursor: pointer;
    @include desktop-only {
      width: 500px;
    }

    @include tablet-only {
      width: 450px;
    }
    .content_container {
      display: flex;
      flex-direction: column;
      flex: 4;
      margin: 1em;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h3 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }

      .container_secondline {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: rgba(64, 64, 64, 255);
          font-weight: normal;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 80%;
        }
      }
    }

    h4,
    p {
      margin: 0.2em 0 0 0;
    }
  }

  .plate_type {
    margin-top: 1.5em;
    margin-bottom: 1.7em;
    margin-left: 1.5em;
    color: rgba(92, 92, 92, 255);

    @include desktop-only {
      width: 500px;
    }

    @include tablet-only {
      width: 450px;
    }

    h2 {
      margin: 0 0 0.3em 0;
      font-weight: normal;
    }

    .up-border {
      border-bottom: 4px solid $tertiary;
      width: 3.8em;
    }
  }
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load_container {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  animation: website 3s linear;
}

.load {
  box-sizing: border-box;
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: wait;
}

.load_inner {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  border: 2rem solid $tertiary;
  border-radius: 50%;
  border-top-color: darken($tertiary, 15%);
  border-bottom-color: darken($tertiary, 15%);
  animation: rotate 3s linear;
}

@keyframes rotate {
  0% {
    transform: scale(1) rotate(180deg);
  }

  50% {
    transform: scale(0.5) rotate(-180deg);
  }

  100% {
    transform: scale(1) rotate(180deg);
  }
}

@keyframes website {
  0% {
    z-index: 30;
  }

  100% {
    z-index: -1;
    height: 100%;
  }
}

.website {
  z-index: 1;
  position: relative;
  background-color: white;
}

.menu__restau__plat {
  .animation_container {
    display: none;
    flex-direction: row;
    align-items: center;
    flex: 10;
    position: relative;
  }

  &:hover {
    .animation_container {
      display: flex;
      background-color: $tertiary;
      animation: right_to_left 900ms forwards;
    }

    i {
      position: absolute;
      left: calc(50% - 0.5em);
      color: white;
      animation: appear_and_rotate 800ms forwards;
    }

    @keyframes right_to_left {
      from {
        flex: 0;
      }
      to {
        flex: 1;
      }
    }

    @keyframes appear_and_rotate {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(1turn);
      }
    }
  }
}
