#fonctionnement {
  padding: 1.5em;
}

.restaurants {
  width: auto;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  background: $lightgrey;
  padding: 1.5em;

  &__card {
    border-radius: 20px;
    overflow: hidden;
    height: 300px;
    background: white;
    box-shadow: 3px 3px 10px -1px rgb(150, 148, 148);
    margin-bottom: 1em;
    figure {
      img {
        width: 100%;
        height: 35vh;
        object-fit: cover;
      }
      p {
        color: rgba(96, 96, 96, 255);
        margin: 0.2em 0 0 0;
      }
    }
    i {
      display: block;
      float: right;
    }
  }
}
