footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  background: rgba(53, 53, 53, 255);
  padding: 2em;
  .footer__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  i {
    margin-right: 0.6em;
  }
}
