header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  box-shadow: 0 8px 9px -9px grey;
  padding-top: 2em;
  padding-bottom: 1em;
  position: relative;
  @include desktop-only {
    // justify-content: start;
    border: none;
    box-shadow: none;
    padding-left: 2.5em;
  }
}

#place {
  display: flex;
  justify-content: center;
  padding: 1.2em;
  background-color: rgba(234, 234, 234, 255);
  @include desktop-only {
    // justify-content: start;
    align-items: center;
    margin: 1em 2.5em 1em 2.5em;
    padding: 0.5em;
    border: 1px solid rgb(160, 157, 157);
    width: 250px;
    height: auto;
    border-radius: 50px;
  }
  input {
    border: 0px;
    margin-left: 1em;
    width: 8em;
    background-color: rgba(234, 234, 234, 255);
  }
}

// PAGE RESTAU

#logo_header {
  box-shadow: none;
}

header {
  border: none;
  i {
    color: black;
    position: absolute;
    left: 0;
    margin-left: 0.8em;
  }
}
