@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand/Shrikhand-Regular.ttf");
}

body {
  font-family: roboto;
}

#presentation {
  h1 {
    font-family: roboto-bold;
    @include desktop-only {
      font-size: 2em;
    }
  }

  h2 {
    font-family: roboto-bold;
    font-size: 1.8em;
  }
}

.fbutton {
  font-family: roboto-bold;
  font-size: 1.2em;
  @include desktop-only {
    font-size: 1em;
  }
}

.nouveaute {
  font-family: roboto-bold;
  font-size: 1em;
}

figcaption {
  font-size: 1.3em;
  font-family: roboto-bold;
  color: black;
  @include desktop-only {
    font-size: 1em;
  }
}
figure p {
  font-size: 1.4em;
  @include desktop-only {
    font-size: 1em;
  }
}
#place input {
  font-size: 1.3em;
  font-family: roboto;
}

.footer {
  font-size: 1.3em;
  @include desktop-only {
    font-size: 1em;
  }
  &__title {
    font-family: shrikhand;
  }
}

.p-bold {
  font-family: roboto-bold;
}

// PAGES RESTAURANTS

#shop_title {
  font-family: shrikhand;
  font-size: 2.5em;
  font-weight: normal;
}
